/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
scratch.md
*~undo-tree~
.env.*
.DS_Store

/coverage
file_cache/
.byebug_history

# we don't want Gemfile lockfile committed in the knapsack
# It prevents Hyku's gemfile updates from taking effect like they should.
Gemfile.lock
