<%# Overridden from Hyrax 3.5.0 - To add extra download restrictions %>
<div class="no-preview">
  <%= t('hyrax.works.show.no_preview') %>
  <% if Site.account.settings[:allow_downloads].nil? || Site.account.settings[:allow_downloads].to_i.nonzero? %>
    <% if display_media_download_link?(file_set: file_set) %>
      <p /><%= link_to t('hyrax.file_set.show.download'),
      hyrax.download_path(file_set),
      id: "file_download",
      data: { label: file_set.id },
      target: "_new" %>
    <% end %>
  <% end %>
</div>
