/* ...
 *= require jquery-ui
 *= require select2
 *= require_self
*/
@import "variables";
@import "bootstrap-default-overrides";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "blacklight/blacklight";
@import "blacklight_gallery/gallery";
@import "blacklight_gallery/masonry";
@import "blacklight_gallery/slideshow";
@import "blacklight_gallery/osd_viewer";
@import "hyrax/blacklight_gallery";
@import "font-awesome";
@import "hyrax/hyrax";
@import "hyku";
@import "accounts";
@import "viewer";


@import "themes/*";

// for catalog search result snippets
.highlight {
  background: yellow;
  font-weight: 700;
}

.dl-horizontal .search-only-institution-link {
  display: block; /* Change from inline display to block */
  text-align: center; /* Center the text */
  width: 100%; /* Take the full width of the container */
  margin-top: 10px; /* Optional: Add some space above the element */
}
