<%# OVERRIDE Hyrax 5.0.1 to enable markdown in the work description, and remove autolink to search in description on show page %>

<% presenter.description.each do |description| %>
    <p class="work_description"><%= markdown(description) %></p>
<% end %>
